spec: 
    containers:
        - name: squid-proxy
          image: ${image}
          stdin: false
          tty: false
          ports:
            - name: http-proxy
              containerPort: 3128
              hostPort: 3128
              protocol: TCP
    restartPolicy: Always
    